{% extends "layout.html" %}

{% block title %}Form{% endblock %}

{% block content %}
    <!--page content-->
	<h1>About the Smoking data</h1>
	
	<p>The data used in this web app can be found from thre CORGIS dataset project and can be found <a href = "https://corgis-edu.github.io/corgis/json/smoking/">here</a>. The data set cantains numbers and population values from 1980 to 2012 broken down by gender and country.</p>
	
	<p>One of the statistics reported is daily cigerattes. This statistic is the average amount of cigerattes smoked per day by smokers. For example if the value was 5.6999998, then the number of cigerattes per averaged between 5-6 a day. when calulatin avergaes, there could be multiple outliers that can potentialy overweigh the data, this can sometimes cuase miscalculations and inaccuracy.</p>
	
	<p>Another statistics to look pout for is the total percentage statistc. Note that the male and female percentages are only correlated to percentage of smokers out of said gender population and not out of smoking populations. Similarily, the total perceantage statistic calculates the percentage of smokers from the enitire population of said country and year.</p>

{% endblock %}