<!<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 2 meta tags should come first in the head; any other head content should come *after* these tags -->

    <!-- Bootstrap -->
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  
  <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
<script type="text/javascript">
 
window.onload = function () {
	var chart = new CanvasJS.Chart("chartContainer", {
		axisY: {
			minimum: 0
		},
		data: [              
		{
			// Change type to "doughnut", "line", "splineArea", etc.
			type: "line",
			dataPoints: {{ graphdatanum | safe }}
		}
		]
	});
	chart.render();
}
window.onload = function () {
	var chart = new CanvasJS.Chart("ChartContainer2", {
		axisY: {
			minimum: 0
		},
		data: [              
		{
			// Change type to "doughnut", "line", "splineArea", etc.{{ genderdata1 | safe }},
						//{{ genderdata2 | safe }},
						//{{ genderdata3 | safe }},
						//{{ genderdata4 | safe }},
			type: "bar",
			dataPoints: [
						
				{ y: 3, label: "Sweden" },
				{ y: 7, label: "Taiwan" },
				{ y: 5, label: "Russia" },
				{ y: 9, label: "Spain" },
				{ y: 7, label: "Brazil" },
				{ y: 7, label: "India" },
				{ y: 9, label: "Italy" },
				{ y: 8, label: "Australia" },
				{ y: 11, label: "Canada" },
				{ y: 15, label: "South Korea" },
				{ y: 12, label: "Netherlands" },
				{ y: 15, label: "Switzerland" },
				{ y: 25, label: "Britain" },
				{ y: 28, label: "Germany" },
				{ y: 29, label: "France" },
				{ y: 52, label: "Japan" },
				{ y: 103, label: "China" },
				{ y: 134, label: "US" }
			]
		}
		]
	});
	chart.render();
}
</script>
  
  <title>{% block title %}{% endblock %} - My Webpage</title>
  
  </head>
  <body>
  ,
<div class="p-5 bg-primary text-white text-center">
  <h1>Smoking Satistics Webpage</h1>
  <p>by David Chavez, Source: <a href="https://corgis-edu.github.io/corgis/json/smoking/" class= "nav-link">corgis-edu.github.io</a></p> 
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">About the Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/p1">Data by Countries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/p2">Greatest Percentage of Smokers</a>
      </li>
    </ul>
  </div>
</nav>
	 <!--page content -->
	<div class="container">
		{% block content %}{% endblock %}
	</DIV>
		
  </body>
</html>
