{% extends "layout.html" %}

{% block graph2 %}

window.onload = function () {
	var chart = new CanvasJS.Chart("ChartContainer2", {
		axisY: {
			minimum: 0,
			title: "Percentage%",
			suffix: "%",
			maximum: 100
		},
		axisX: {
			title: "Population type"
		},
		data: [              
		{
			// Change type to "doughnut", "line", "splineArea", etc.
			type: "column",
			yValueFormatString: "#,##0.##\"%\"",
			dataPoints: [
				
				{{ genderdata1 | safe }},
				{{ genderdata2 | safe }},
				{{ genderdata3 | safe }},
				{{ genderdata4 | safe }}
			]
		}
		]
	});
	chart.render();
}

{% endblock %}

{% block title %}Page2{% endblock %}

{% block content %}
    <!--page content-->
	<h1>Greatest Percentage of Smokers</h1>
	
	<p>Select the year to find out the country with the greatest population of smokers from that time!</p>
	
	<form action="/showFactYear">
          <select name="Year"> <!-- add onchange="this.form.submit()" to submit/update the form when an option is selected.  Usefull for then displaying county options. -->
            {{ year_options }}
          </select>
          <br><br>
          <input type="submit" class="btn btn-success" value="retrieve Information">
        </form>
        <div id="funFact3">
			<h2>{{ year }}</h2>
            <p>{{ year_fact }}</p>
			<p>{{ year_fact2 }}</p>
        </div>
		<div id="graph2">
			<h2>{{ text2 }}</h2>
			{{ graph2 }}
		</div>

{% endblock %}